@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Kalam',
    cursive;
}

:root {
    --primary-color: #f2C94C;
    --black-color: #333333;
}

body {
    margin: auto;
    color: var(--black-color);
}


main {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}



/** Navigation **/

nav {
    background-color: var(--primary-color);
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}



/** Footer **/

footer {

    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
}

footer div {
    font-size: x-large;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

footer p {
    max-width: 600px;
    text-align: center;
    margin: auto;
}



button {
    background-color: var(--primary-color);
    border: none;
    font-size: large;
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
}



textarea {
    display: block;
    width: 100%;
    font-size: large;
    font-family: inherit;
    margin-top: 1rem;
    height: 20vh;

}

#output {
    border: 1px solid var(--black-color);
    height: 15vh;
    width: 100%;
    padding: 1rem;
    font-size: large;
}